{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <script src="https://kit.fontawesome.com/cbf2c60204.js" crossorigin="anonymous"></script>
  <title>Ezequiel</title>
</head>
<body>
  <div id="app"></div>
  
  <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
  <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}">
  </script>
  <link href="{% static 'src/vue/dist/css/app.css' %}" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'src/vue/dist/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'src/vue/dist/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'src/vue/dist/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'src/vue/dist/site.webmanifest' %}">
</body>
</html>